.card-image
  max-height: 350px
  min-height: 350px
  object-fit: cover

.card
  min-height: 525px

.list-group
  max-width: 250px
  max-height: 500px
  overflow: hidden auto

.cursor-pointer
  cursor: pointer

button:disabled
  cursor: not-allowed
